@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Thêm hiệu ứng mượt mà khi đổi màu nền toàn trang mà bạn muốn */
html, body {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  scroll-behavior: smooth;
}

@theme {
  --animate-bounce-short: bounce-short 1s ease-in-out 2;
  @keyframes bounce-short {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-25%); }
  }
}